@page "/Privacy"
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<form method="get">
	Anzahl Zahlen: <input asp-route="anzZahlen" name="anzZahlen" />
	<br />
	<button type="submit">Speichern</button>
</form>

<form method="post">
	<select asp-items="@Html.GetEnumSelectList<Operation>()" name="op">
		<option value="@Operation.Keine">Rechenart auswählen</option>
	</select>
	<ul>
		@for (int i = 0; i < (Model.AnzZahlen ?? 2); i++)
		{
			<li>
				Zahl @i: <input type="number" asp-route="zahlen" name="zahlen" />
			</li>
		}
	</ul>
	<button type="submit">Berechne</button>
</form>